body { background-color: antiquewhite;}

.p1 { color: coral; }
.p2 { color: coral;}
.p3 { color: coral; }
.p4 { color: coral; }

nav {
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    border-left: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
}

.nav-link {
    margin-right: 25px;
}

h1 {
    text-align: center;
}